<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<!-- Head -->
<div th:replace="fragments/head :: head"></div>

<body>
	<div th:if="${param.error}">
		Usuário e senha inválidos.
	</div>
	<div th:if="${param.logout}">
		Você foi deslogado.
	</div>

	<!-- Main -->
	<main class="background_login img-fluid justify-content-center mx-auto">

		<form class="form position-absolute top-50 start-50 translate-middle" id="form">
			<fieldset>
				<div class="mb-3 text-center">
					<h4>Login para Administrador</h4>
				</div>
				<div class="row mb-3">
					<div class="col-12 mb-3">
						<label for="usuario" class="form-label">Login:</label> <input type="text" class="form-control"
							id="usuario" name="usuario" field="*{usuario}" placeholder="Login ADM">
					</div>

					<div class="col-12 mb-3">
						<label for="senha" class="form-label">Senha:</label> <input type="password" class="form-control"
							id="senha" name="senha" field="*{senha}" placeholder="Senha">
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-lg-6 col-sm-12" style="text-align: center;">
						<a th:href="@{/getAllClientes}"><button type="button" id="sair"
								class="btn btn-primary col-6">Logar</button></a>

					</div>
					<div class="col-lg-6 col-sm-12" style="text-align: center;">
						<a th:href="@{/}"><button type="button" id="sair" class="btn btn-danger col-6">Sair</button></a>
					</div>
				</div>
			</fieldset>
		</form>
	</main>

	<!-- Main End -->

	<!-- Footer -->
	<footer> </footer>
	<!-- Footer End-->

	<!-- JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>